@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Colour Palette */
#a31621 

/* color: #a31621;
color: #ffffff;
color: #1f7a8c;
color: #52b788;
color: #000000; */

