/* Google fonts import  */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Dancing Script", serif;
  --primary-color: #a31621;
  --secondary-color: #52b788;
  --deep-blue-color: #416a8e;
  --light-highlight-color: #fdfffc;
  --black-color: #020100;
  --soft-primary-color: rgba(163, 22, 33, 0.7);
  --transparent-red: rgba(163, 22, 33, 0.4);
  --soft-blue: rgba(65, 106, 142, 0.5);
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: var(--primary-font);
  background-image: url(../images/abstract_background.jpg);
}

h1 {
  font-family: var(--secondary-font);
  color: var(--light-highlight-color);
}

h2 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h3 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}
h1 {
  text-shadow: 1px 1px var(--black-color);
}

a {
  color: var(--light-highlight-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.sub-heading-color {
  color: var(--highlight-color);
}

/*to prevent navbar overlap*/
.section {
  padding-top: 4.5rem;
}

.navbar-dark {
  background-color: var(--deep-blue-color);
  color: var(--light-highlight-color);
}
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link {
  font-weight: 550;
  color: var(--light-highlight-color);
}
.sharp-corners {
  border-radius: 0;
}

.header-container {
  position: relative;
  width: 75%;
  color: var(--light-highlight-color);
}

.centred-header-text {
  background-color: var(--soft-primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-highlight-color);
  font-size: 2em;
  text-shadow: 1px 1px var(--black-color);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: var(--highlight-color);
  border: var(--highlight-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--light-highlight-color);
  border: var(--primary-color);
}

.fa-building {
  color: var(--transparent-red);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#welcome {
  height: 66rem;
  width: auto;
  background: url(../images/hero-image.jpg) no-repeat center center/cover;
  position: relative;
}

#about {
  background-color: var(--light-highlight-color);
  color: var(--black-color);
  font-size: 1.1rem;
  text-align: justify;
}

#classes {
  background-color: var(--light-highlight-color);
  color: var(--light-highlight-color);
}

#gallery {
  background-color: var(--light-highlight-color);
  color: var(--light-highlight-color);
}

#contact {
  background-color: var(--light-highlight-color);
  color: var(--black-color);
}

#footer {
  background-color: var(--deep-blue-color);
  color: var(--light-highlight-color);
}
